<div id="demotext">
<h1>Available Listings</h1>
</div>


<%@listings.each do |listing|%>
    <%if listing.availability == true && listing.user_id != session[:user_id] %>
        <li><%= link_to listing.game.name, listing_path(listing)%></li>
    <%end%>
<%end%>