<h1> <%= @user.name %>'s Homepage </h1>
<br>

<div> 
 <h2>Age: </h2><h3><%= @user.age %></h3>
<br>
<h2>Games Owned (listings):</h2>
<ul>
  <% @user.listings.each do |listing|%>
<br>
    <li><%= link_to listing.game.name, listing_path(listing) %> </li>
<%end%>
</div>


<%= button_to 'Buy This Listing', {:controller => "listings", :action => "buy", :method => "post" } %>