

<h1><%="#{@game.name} "%> </h1>
<%= link_to "Click here to edit #{@game.name}", edit_game_path(@game) %> <br>
<%= link_to "Click here to list #{@game.name}", listing_path() %> <br>

<%= button_to "Delete this game", game_path(@game), :method => :delete %>
